<h1>Cost</h1>
<p>On average, plant based foods <strong>cost less</strong> than their fleshy counterparts</p>
<div id='cost-graph-container'>
  <div class='graph-header'>
    <h3>Cost of common staple foods</h3>
    <p>Prices in <abbr title='Australian dollars'>AUD</abbr> per <abbr title='kilogram'>KG</abbr></p>
  </div>
  <canvas id="cost-graph2" height="400" width="700"></canvas>
</div>

<div>
  <p>Source: <a href="http://colesonline.com.au">Coles Online</a></p>
  <h2>Notes</h2>
  <ol>
    <li>Cost per kg is for cooked lentils, extrapolated from an expansion ration of 2.5 (need source)</li>
    <li>The cost of chick peas and kidney beans is dramatically reduced if purchased dry (need source)</li>
    <li>This list if for ingredients typically used as the 'base' of a meal, and is therefore a good basis for cost comparison</li>
  </ol>
</div>  
<%
  data = [
    [:vege, "Red lentils", 1.92], # * based on an expansion rate of 2.5 - 1kg of dry lentils > 1kg of any other food here
    [:vege, "Chick peas", 3.7],
    [:vege, "Kidney beans", 3.7],
    [:vege, "Tofu", 12.3], # Blue lotus
    [:meat, "Chicken, free-range", 17.89], #Lilydale Chicken Breast Fillets Free Range Skin Off"
    [:meat, "Chicken, battery", 13.00], # Coles brand
    [:meat, "Beef, battery", 9.00], # Coles brand
    [:meat, "Pork, diced", 15.0], # Coles brand
  ].sort_by {|x| x.last}
  data.extend(BonusArrayMethods)
  
  colors = {
    :vege => ['#FF8800', '#FFAA00', '#FFD000', '#FFE500'],
    :meat => ['#ff0000', '#A60C0C', '#780A0A', '#5E0202']
  }
  flot_data = data.inject_with_index([]) do |a, (type, label, cost), i|
    a << {
      'label' => label,
      'data'  => [[i + 0.5, cost]],
      'color' => colors[type].shift
    }
  end
  plotkit_data   = data.collect_with_index {|x, i| [i, x.last] }
  plotkit_xticks = data.collect_with_index {|x, i| {'v' => i, 'label' => x[1]} }
%>
<style>
h3 {
  margin-bottom: 0px;
}
.graph-header {
  position: absolute;
  text-align: center;
  width: 700px;
}
.graph-header p {
  margin-top: 0px;
}
</style>

<script language="javascript" type="text/javascript">
var options = {
   "IECanvasHTC": "/plotkit/iecanvas.htc",
   "colorScheme": PlotKit.Base.palette(PlotKit.Base.baseColors()[0]),
   "padding": {left: 0, right: 0, top: 80, bottom: 35},
   "xTicks": <%= plotkit_xticks.to_json %>,
   "drawXTicks": false,
   "drawYAxis": false,
   "axisLabelFont": 'georgia',
   "axisLabelFontSize": 14,
   "axisLabelWidth": 60,
   "barLabelFormatter": function(value) { return '$' + value.toFixed(2); }
};

var layout = new PlotKit.Layout("bar", options);
layout.addDataset("sqrt", <%= plotkit_data.to_json %>);
layout.evaluate();
var canvas = MochiKit.DOM.getElement("cost-graph2");
 var plotter = new PlotKit.CanvasRenderer(canvas, layout, options);
 plotter.render();

        var labelStyle = {"style":
             {"position": "absolute",
              "zIndex": 10,
              "width": "200px",
              "overflow": "visible"
             }
        };

        var DIV = MochiKit.DOM.DIV;
        var label = DIV(labelStyle, "Cost of stable foods\nPrices in AUD per KG");
        label.style.top = "0px";
        label.style.left = "0px";
        label.style.textAlign = "left";

        //MochiKit.DOM.appendChildNodes(canvas.parentNode, label);
        jQuery('#cost-graph2').parent().append("");

</script>
