<%
  # Water use per day per household
  data = [
    ["Vegetarian diet", (3498 / 2.6).to_i],
    ["Average Australian diet", (11659 / 2.6).to_i]
  ]
  data.extend(BonusArrayMethods)
%>
<h1>Environment</h1>
<p class="important">A change in diet is the <strong>most effective</strong> way to reduce <strong>water consumption</strong></p>
<div id="environment-graph" class='graph' style="width:400px;height:300px"></div>
<h2>Notes</h2>
<p class="todo">Reference these better</p>
<ol>
  <li>Direct household use is from Our Water, Our Future white paper, chapter 5, page 7, from 2004. This figure was estimated to decrease.</li>
  <li>Dietary figures are from "City people eat rivers: estimating the virtual water consumed by people in a large Australian city" (2007), specifically the data compiled by Amelia Tsang in a comprehensive survey of the available literature and statistics.</li>
</ol>  
<script language="javascript" type="text/javascript">
</script>  
