<style>
body {
}
h1 {
  font-size: 2.5em;
}
ul {
  list-style-type: none;
}
li {
  font-size: 1.5em;
  text-align: left;
}
</style>
<h1>Vegetarianism makes you happier</h1>
<h2>(Science says so)</h2>
<p class="todo">pretty picture</p>
<p>Every number and every claim on this site is backed by thorough research and hard data. Don't take my word for it - references are provided to see for yourself.</p>
<h3>What is important to you?</h3>
<ul>
  <li><a href="/cost">cost</a></li>
  <li><a href="/environment">the environment</a></li>
  <li><a href="/health">health</a></li>
  <li><a href="/animals">animal rights</a></li>
  <li><a href="/happiness">happiness</a></li>
</ul>  
<h3>Interested?</h3>
<p>Here's some resources to get you started</p>
<p class="todo">resources</p>
